@using Photor.Core.Models
@using Photor.Core.Models.User
@using Photor.Extensions
@model UserSearchViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div class="form-group">
      <label for="exampleInputEmail1">Search</label>
      <input value="@Model.SearchValue" asp-for="@Model.SearchValue" type="text" class="form-control" placeholder="Search by username">
    </div>
    <button type="submit" class="btn btn-primary" asp-controller="User" asp-action="Search">Search</button>
</form>

@if (Model.Users.Count == 0 && Model.SearchValue != null){
    <p class="text-center">No matches found</p>
}
else {
    @foreach (var user in Model.Users) {
        <partial name="_UserPreviewPartial" model="@user"/>
    }
}