@using Photor.Core.Models.User
@using Photor.Extensions
@model List<UserViewModel>

@*
*@
@{
}

<h1>@ViewBag.Title</h1>

@foreach (var user in Model)
{
    <partial name="_UserPreviewPartial" model="@user"/>
}